# Set default behavior to automatically normalize line endings (to CRLF on checkout)
* text=auto eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp3 binary
*.wav binary
*.pdf binary
*.zip binary
*.pyc binary
